@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-size: 10px;
}

.container {
  @apply max-w-[1160px] mx-auto;
}

@media (min-width: 991px) {
  .container {
    @apply px-[30px];
  }
}

@media (max-width: 991px) {
  .container {
    @apply px-[60px];
  }
}

@media (max-width: 767px) {
  .container {
    @apply px-[30px];
  }
}

.ally-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}
