@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-size: 10px;
  background-color: white;
}

@media (prefers-color-scheme: dark) {
  :root {
    background-color: white;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  margin: unset;
}

h1,
h2,
h3,
h4 {
  padding: unset;
  margin: unset;
  font-weight: unset;
}

img {
  vertical-align: top;
}

a {
  text-decoration: none;
  color: initial;
}

ul,
li {
  margin: unset;
  padding: unset;
  list-style: none;
}

button {
  all: unset;
}

input {
  border: unset;
  outline: none;
}

select {
  appearance: none;
}

.ally-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}
