@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-size: 10px;
}

@media (prefers-color-scheme: dark) {
  :root {
    background-color: white;
  }
}

.container {
  @apply max-w-[1160px] mx-auto;
}

.ally-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}
